.form-container {
  width: 290px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field-full-width {
  width: 100%;
  margin-right: 5px;
}

.select-image-box {
  margin: 10px;
}

.img-box {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.image-error {
  color: red;
  margin: 10px;
}