<div>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-container">

      <h4>Sign up</h4>
      
      <mat-form-field class="field-full-width">
        <input
          matInput
          id="username"
          formControlName="username"
          placeholder="username"
          type="text">
      </mat-form-field>

      <div *ngIf="username.touched && username.invalid">
        <div *ngIf="username.hasError('minlength')">too short</div>
        <div *ngIf="username.hasError('maxlength')">too long</div>
        <div *ngIf="username.hasError('required')">username is required</div>
        <div *ngIf="username.hasError('usernameTaken')">username taken</div>
        <div *ngIf="username.hasError('pattern')">unsupported character</div>
      </div>

      <mat-form-field class="field-full-width">
        <input
          matInput
          id="password"
          formControlName="password"
          placeholder="password"
          type="password">
      </mat-form-field>
      <div *ngIf="password.touched && password.invalid">
        <div *ngIf="password.hasError('minlength')">too short</div>
        <div *ngIf="password.hasError('maxlength')">too long</div>
        <div *ngIf="password.hasError('required')">password is required</div>
      </div>
      
      <div class="select-image-box">
        <button
          *ngIf="!profilePicture"
          mat-raised-button
          type="button"
          (click)="imageInput.click()"
          >Add image</button>
        <button 
          *ngIf="!!profilePicture"
          mat-icon-button aria-label="remove img"
          (click)="onRemoveImage()">
          <mat-icon>highlight_off</mat-icon>
        </button>
        <input
          #imageInput
          hidden
          accept="image/*"
          (change)="onSelectImage(imageInput)"
          type="file" id="file">
      </div>
      
      <div class="img-box" *ngIf="!!profilePicture">
        <img
          [src]="profilePicture.src"
          alt="uploaded image"
          height="200px">
      </div>

      <button
        mat-raised-button
        [disabled]="signUpForm.invalid"
        color="primary"
        type="submit">Signup</button>
    </div>

  </form>
</div>

