.container {
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
}

img {
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  flex-grow: 2;
  font-weight: bold;
}

.follow-btn {
  margin-left: 10px;
  width: fit-content;
  width: fit-content;
  font-size: smaller;
}


/* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */